.container-page {
    width: 100%;
    display: flex;
    min-height: 400px;
    justify-content: center;
    align-items: start;
    background: #FFF;
    border-top: 1px solid #ccc;
}

.container-product-detail {
    width: 100%;
    max-width: 1300px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 50px;
}

.product-detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* TOP */
.prod-detail-top {
    width: 100%;
    padding: 20px;
    background: #FFF;
    border-radius: 15px;
    box-shadow: 0px 0px 5px #ccc;
}

.detail-top-left {
    max-width: 400px;
    width: 100%;
}

.top-left-image {
    width: 100%;
}

.top-image-big {
    width: 400px;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.top-image-big button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-image-big button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.top-image-big .prev {
    left: 10px;
}

.top-image-big .next {
    right: 10px;
}

.container-image-big {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.item-image-big {
    min-width: 400px;
    height: 400px;
}

.top-image-big .image-big {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.top-image-item {
    width: 100%;
}

.top-image-small {
    width: calc(100% / 4 - 6px);
    height: auto;
}

.top-image-small .image-small {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.detail-top-right {
    width: calc(100% - 415px);
}

.timesold-icon {
    width: 18px;
    height: 18px;
    color: #F26222;
}

.prod-card_price_original {
    text-decoration: unset;
}

.active_price_discount {
    text-decoration: line-through;
    color: #999;
    font-size: 15px;
    line-height: 18px;
}

.item-card_option {
    display: block;
    margin: 0;
    padding: 7px 10px;
    min-width: 66px;
    font-size: 12px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: 1px solid;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.active_o:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    right: -1px;
    top: -1px;
    border-style: solid;
    border-width: 0px 19px 19px 0px;
    border-color: transparent #333333 transparent transparent;
}

.active_o:after {
    position: absolute;
    content: "";
    width: 19px;
    height: 19px;
    right: -1px;
    top: -1px;
    background-image: url('../images/icon/tich.svg');
}

/* ======================================== */
.detail-right-product {
    width: 60%;
}

.prod-card_common {
    padding-bottom: 10px;
}

.prod-card_ship {
    padding: 10px;
    background: #f3f6ef;
    border-radius: 5px;
    min-height: 60px;
}

.minus_plus_gnr {
    width: 28px;
    height: 28px;
    background: #F8F8F8;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
}

.prod-card_button {
    flex-wrap: wrap;
}

.card_button {
    width: calc(100% / 2 - 5px);
    min-height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 5px;
    background: #FFF;
}

.card_button_buy {
    background: #1c2d5b;
}

.card_button_buy p {
    color: #FFF;
}

.card_button_buy:hover {
    transition: all 0.8s ease;
    background: #FFF;
    border: 1px solid #1c2d5b;
}

.card_button_buy:hover p {
    transition: all 0.8s ease;
    color: #1c2d5b;
}
/* --------------------------- */
.card_button_addcart {
    background: #1c2d5b;
    border: 1px solid #1c2d5b;
}

.card_button_addcart .icon_addcart {
    color: #FFF;
}

.card_button_addcart p {
    color: #FFF;
}

.card_button_addcart:hover {
    transition: all 0.8s ease;
    background: #FFF;
    border: 1px solid #1c2d5b;
}

.card_button_addcart:hover .icon_addcart {
    transition: all 0.8s ease;
    color: #1c2d5b;
}

.card_button_addcart:hover p {
    transition: all 0.8s ease;
    color: #1c2d5b;
}

/* ---------- */
.card_button_chat {
    transition: all 0.8s ease;
    background: #76B51B;
    border: 1px solid #76B51B;
}

.card_button_chat .icon_chat {
    transition: all 0.8s ease;
    color: #FFF;
}

.card_button_chat p {
    transition: all 0.8s ease;
    color: #FFF;
}

.card_button_chat:hover {
    border: 1px solid #76B51B;
    background: #FFF;
}

.card_button_chat:hover .icon_chat {
    color: #76B51B;
}

.card_button_chat:hover p {
    color: #76B51B;
}

/* ------- */

.card_button_contact {
    transition: all 0.8s ease;
    background: #333;
    border: 1px solid #333;
}

.card_button_contact .icon_contact {
    transition: all 0.8s ease;
    color: #FFF;
}

.card_button_contact p {
    transition: all 0.8s ease;
    color: #FFF;
}

.card_button_contact:hover {
    border: 1px solid #333;
    background: #FFF;
}

.card_button_contact:hover .icon_contact {
    color: #333;
}

.card_button_contact:hover p {
    color: #333;
}

/* ========================================== */
.detail-right-brand {
    width: 39%;
    background: #f3f6ef;
    padding: 15px 10px;
    border-radius: 10px;
    display: block;
}

.customer-reviews-mobile {
    display: none;
    width: 100%;
    padding: 20px;
    background: #f3f6ef;
    border-radius: 15px;
    box-shadow: 0px 0px 5px #ccc;
    min-height: 300px;
}

.detail-brand-top .avatar-brand {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.detail-brand-top .brand-text {
    width: calc(100% - 110px);
}

.detail-customer-reviews {
    width: 100%;
    height: 100%;
}

.customer-reviews {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.rating-summary {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    width: 100%;
}

.review-item {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: start;
    gap: 5px;
    flex-direction: column;
    background: #FFF;
}

.review-item strong {
    color: #333;
}

.review-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding-top: 15px;
    border-top: 1px solid #ccc;
}

.box-review-list,
.box-show-reviews {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.review-list {
    width: 100%;
    max-height: 145px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button_rating-product {
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
    background: #F26222;
    border: 1px solid #F26222;
    padding: 10px;
    width: 100%;
    border-radius: 8px;
    color: #FFF;
}

.button_rating-product:hover {
    transition: all 0.8s ease;
    border: 1px solid #F26222;
    color: #F26222;
    background: #fff;
}

#rating {
    padding: 5px 10px;
    min-height: 40px;
    border-radius: 10px;
    background: #FFFF;
    outline: none;
    border: 1px solid #999;
}

/* Center */

.prod-detail-center {
    width: 100%;
    padding: 20px 0px;
    background: #FFF;
    border-radius: 15px;
    box-shadow: 0px 0px 5px #ccc;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.detail-center-title {
    width: 100%;
}

.detail-center-title h2 {
    width: 100%;
    border-left: 3px solid #1c2d5b;
    padding: 0px 10px;
}

.item-infor-content {
    width: calc(100% / 2 - 8px);
}

.detail-infor-poduct,
.detail-desc-poduct {
    padding: 20px;
    border-bottom: 1px solid #F2F2F2;
}

.detail-cate-poduct {
    padding: 20px;
    border: unset;
}

.detail-desc-content {
    width: 100%;
    min-height: 100px;
}

.show-text-desc div,
.show-text-desc div p {
    font-size: 15px;
    font-family: 'Roboto';
    line-height: 30px;
}

.cate-content-txt {
    background: #F6F6F6;
    padding: 5px 15px;
    font-size: 15px;
    font-weight: 500;
    color: #1c2d5b;
    border-radius: 10px;
}

/* Tin đăng tương tự */
.prod-detail-bottom {
    width: 100%;
    max-width: 100%;
    background: white;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 5px #ccc;
    padding: 20px;
}

.product-suggest-list {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.product-suggest-item {
    width: calc(100% / 4 - 8px);
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    box-shadow: 0px 0px 5px #ccc;
    border-radius: 10px;
}

.product-suggest-item-avatar {
    width: 100%;
    min-height: 300px;
    overflow: hidden;
    vertical-align: middle;
    display: flex;
    align-items: start;
    justify-content: center;
    position: relative;
}

.product-suggest-item-img {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px 10px 0px 0px;
    float: left;
    object-fit: cover;
}

.product-suggest-item-desc {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 0px 10px 10px;
}

.product-suggest-desc-name {
    font-weight: 500;
    font-size: 17px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.product-suggest-desc-text {
    width: 100%;
    font-size: 15px;
    line-height: 20px;
    color: #333;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-price {
    display: flex;
    align-items: center;
    gap: 5px;
}

.product-price-original {
    font-size: 13px;
    line-height: 15px;
    text-decoration: line-through;
    color: #333;
}

.product-price-discount {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: #e60101;
}

.icon-favorite {
    position: absolute;
    top: 10px;
    right: 10px;
}

@media screen and (max-width: 1300px) {
    .product-suggest-item {
        width: calc(100% / 3 - 7px);
    }
}

@media screen and (max-width: 1023px) {
    .product-suggest-item {
        width: calc(100% / 2 - 5px);
    }
}

@media screen and (max-width: 767px) {
    .product-suggest-item {
        width: calc(100% / 3 - 7px);
    }
}

@media screen and (max-width: 600px) {
    .product-suggest-item {
        width: calc(100% / 2 - 5px);
    }
}

@media screen and (max-width: 450px) {
    .product-suggest-item {
        width: 100%;
    }
}

/* end */

@media screen and (max-width: 1200px) {
    .detail-right-brand {
        display: none;
    }

    .detail-right-product {
        width: 100%;
    }

    .customer-reviews-mobile {
        display: block;
    }
}

@media screen and (max-width:850px) {
    .prod-detail-top {
        flex-direction: column;
    }

    .detail-top-left {
        width: 100%;
        max-width: unset;
    }

    .detail-top-right {
        width: 100%;
    }

    .top-image-big {
        margin: auto;
    }

    .top-image-item {
        display: none;
    }
}

@media screen and (max-width:600px) {
    .top-image-big {
        width: 100%;
        height: 100%;
        margin: auto;
    }

    .item-image-big {
        min-width: 100%;
    }
}