.container-page {
    width: 100%;
    display: flex;
    min-height: 400px;
    justify-content: center;
    align-items: start;
    background: #FFF;
    border-top: 1px solid #ccc;
}

.container-changepassword {
    width: 100%;
    max-width: 1300px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 50px;
}

.personal_profile_edit {
    width: 100%;
    padding: 20px;
}


.profile_edit-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_edit_profile {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 10px;
    border-radius: 40px;
    font-size: 14px;
    font-weight: 500;
    color: #FFF;
    background: #000;
    border: 1px solid #000
}

.btn_edit_profile:hover {
    color: #000;
    background: #FFF;
    transition: all 0.8s ease;
}

.personal_profile_top {
    display: flex;
    width: 100%;
}

.profile_top_title {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.profile_top-img {
    background: #cccccca6;
    border-radius: 8px;
    padding: 2px;
}

.profile_top-text {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
}

.profile_edit_content {
    margin-top: 20px;
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: start;
    justify-content: center;
}

.profile_edit-content {
    max-width: 600px;
    width: 100%;
}

.profile_edit-center {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.profile_edit-box {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.profile_edit-box-title {
    transform: translateY(15px);
}

.profile_edit-box-item {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.profile_edit_inp {
    width: 100%;
    outline: none;
    background: none;
    font-weight: 500;
    line-height: 20px;
    font-size: 13px;
    font-family: 'Roboto';
    color: #1c2d5b;
}

.profile_edit-icon-pass {
    position: absolute;
    right: 0;
    top: 20px;
    width: 24px;
    height: 24px;
}